.header{
  background: #1492cc;
  height: 110px;
}
.logo{
  
  width: 25%;
  height: 100px;
  float: left;
}
.logo img{
  height: 80px;
  width: 90%;
  padding: 10px;
  
}
.icons{
  
  float: right;
  width: 25%;
  height: 100px;
}
.icons i{
  float: right;
  color: white;
  margin: 5%;
}
.searchbar{
  margin: 0 auto;
  width: 45%;
  border-style: 45%;
  height: 100px;
  
}
.search input[type=text]{
  width:75%;
  height:45%;
  border-radius:20px;
  border: none;
  margin-top: 8%;
  margin-left: 6.5%;
}
.search button{
  background-color: #d93d00;
  color: #f2f2f2;  
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40;
  opacity: .9;
  text-align: justify;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(17, 17, 17, 0.911);
}

.leftTab{
  float: left;
  width: 70%;
  border: 1px solid #ccc;
  min-height: 600px;
  
}
.rightTab{
  float: right;
  width: 28%;
  
  min-height: 600px;
}
.main{
  
}
.tabPane{
  
  height: 400px;
  width: 95%;
  margin: 1%;
  
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 350px;
}
.tabcontent {
  animation: fadeEffect 5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.branchCircular{
  float: left;
  width: 59%;
  height: 180px;
  border: 1px solid #ccc;
  margin:1%;
}
.branchCircular h2{
  text-align: center;
}
.branchCircular a{
  color: #1492cc;
}
.branchCircular p{
  margin-left: 20px;
}

.aubForms{
  float: right;
  width: 34%;
  border: 1px solid #ccc;
  margin: 1%;
  height: 180px;
  overflow: auto;
}
.aubForms h2{
  text-align: center;
}
.aubForms a{
  color: #1492cc;
}
.aubForms p{
  margin-left: 20px;
}
.quickLinks{
  
  border: 1px solid #ccc;
  height: 180px;
  padding: 10px;
}
.quickLinks h2{
  text-align: center;
}
.quickLinks a{
  color: #1492cc;
}
.quickLinks p{
  margin-left: 20px;
}
.alShamil{  
  margin-top: 10px;
  border: 1px solid #ccc;
  height: 150px;
  /*background-color: #1492cc;*/
}
.alShamil img{
  /*opacity: .4;*/
}
.aubLinks{
  margin-top: 10px;
  border: 1px solid #ccc;
  height:220px;
  overflow: auto;
  padding: 10px;
}
.aubLinks h2{
  text-align: center;
}
.aubLinks a{
  color: #1492cc;;
}
.aubLinks p{
  margin-left: 20px;
}
/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}
.mySlides img{
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  padding-left: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

